@font-face {
    font-family: ChampagneAndLimousine;
    src: url(rsc/Champagne\ &\ Limousines.ttf);
}

@font-face {
    font-family: CARDC;
    src: url(rsc/CARDC.ttf);
}

  html{
    overflow: hidden;
    user-select: none;

  }

.title-container{
    outline-offset: -5px;
    /* padding: 40px; */
    width: 500px;
    height: 500px;
    display: flex;
    position: absolute;
    justify-content: center;
    /* align-items: center; */
}

.title
{
    font-size: 3.5em;
    text-shadow: 0.03em 0.06em 0em #9f0034;

}

.cardBox
{
    height: 100%;
    width: var(--card-width);
    /* background-color: red; */
}

  
.color{
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    margin: 15px;
    margin-top: 100px;
    /* border: 1px solid #FFBB5C; */
    outline: 1px solid #FFBB5C;
    outline-offset: 5px;

    transition: all 250ms ease-in-out;
}
.color:hover
{
    outline: 1px solid #9f0034;
}


#background
{
    background-color: #2b905f;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    position: fixed;
    /* position: absolute; */
    /* display: inline; */
}
#colorChoose
{
    width: 30vw;
    height: 20vh;
    background-color: #2b905f;
    position: absolute;
    border: 1px solid #FFBB5C;
    outline: 1px solid #FFBB5C;
    outline-offset: -5px;
    border-radius: 150px;
    margin: auto;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -100%);
    z-index: 10001;
    /* opacity: 50%; */
    justify-content: center;
    display: flex;
}


#hand
{
    height: 30vh;
    background-color: #116E41;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border: 1px solid #FFBB5C;

    
}

#toHand
{
    height: 5vh;
    background-color: #2b905f;
    /* background: repeating-linear-gradient(#116E41, #116E41 5px, #FFBB5C 7px); */

}
.div-lobby
{
    background-color: #2b905f;
}
#mat
{
    
    /* background-color: #069969; */
    background-color: #2b905f;
    overflow: hidden;
    /* background-color: #0e9a61; */
    /* background-image: url(rsc/grid-me.png); */
    /* background-repeat:repeat; */
    /* rotate: 90deg; */
    /* transform: rotateZ('90deg')!important; */
}
:root{
    /* ratio 63:88 */
    --card-width:80px; /* 105 */
    --card-height:112px; /* 147 */
    --card-horizontal-space:100px;
}


#menu
{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1000 !important;
    background-color: #116E41;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
}

.colorAndName
{
    /* position: relative; */
    display: inline;
    width: 100px;
    justify-content: center;
    /* display: inline; */
    /* top: 100; */
    
}

#color{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

#name
{
    display: inline-block;
    font-size: 40px;
    font-weight: bolder;
    color: #FFBB5C;
    text-shadow: 1px 2px 0px #9f0034;
}
#code
{
    font-weight: bolder;
    color: #FFBB5C;
    letter-spacing: 1em;

}

.disabled
{
    pointer-events: none;
}


p{
    font-size: 32px;
    font-weight: bolder;
    color: #FFBB5C;
    text-shadow: 2px 2px 0px #9f0034;
    /* text-shadow: 0.03em 0.06em 0em #9f0034; */

    position: absolute;
}
body{
    font-family: ChampagneAndLimousine;
    margin: 0;
    /* transform: translate(0, 100vw) rotate(90deg); */

}

main{
    height: 55%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}


#back-button
{
    width: 5em;
}

.lobby-cards
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.card{
    position: absolute;
    height:var(--card-height);
    width: var(--card-width);
    perspective: 1000px;
    cursor: pointer;
    border-radius: 0px;
    /* transition: all 0.5s ease-in-out; */
    
}
.card-inner{
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /* transition: all 0.1s linear; */
    /* transition: transform 0.1s linear;    */
    transform-style: preserve-3d;
    /* transform-origin: left 40px; */
    /* border-radius: 6px; */
    
}

.card-inner.flipped-front {
    transform: rotateY(0deg);
}

.card-inner.flipped-back {
    transform: rotateY(-180deg);
}

.card-front, .card-back{
    border-radius: 6px;
    box-shadow:  0px 0px 0px 1px rgba(0,0,0,0.1);
    background-color: #f5f5f5;

    /* box-shadow: 0 3px 3px rgba(63, 63, 63, 0.15); */

    position: absolute; 
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select: none;

}
.card-img{
    height:100%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.card-back{
    transform: rotateY(180deg);
    z-index: 1;
    /* transform: translateX(50px); */

}

.lobby-container
{

    overflow-y: hidden;
}


.lobby-join{
    position: relative;
    margin-top: 200vh;
}

.lobby-btn
{
    position: absolute;
}

.lobby-container-btn
{
    
    /* overflow-y: hidden; */
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
#roomCode{
    font-size: 1.2em;    
    padding: 0.25em 1em;
    position: relative;
    /* width: 100%; */
    margin-bottom: 0.2em;
    margin-top: 23%;
    text-align:center
}

.lobby-btn
{
    border: 1px solid #FFBB5C;
    outline: 1px solid #FFBB5C;
    outline-offset: -5px;
    padding: 40px;
    border-radius: 90px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby-join{
    border: 1px solid #FFBB5C;
    outline: 1px solid #FFBB5C;
    outline-offset: -5px;
    padding: 40px;
    border-radius: 90px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.lobby-button
{
    
}
button
{
     
    position: relative;
    display: inline-block;
    margin: 0.5em;
    padding: 0.25em 1em;
    border: 0;
    width: 5em;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    font-family: ChampagneAndLimousine;
    background-color: transparent;
    border: 1px solid #FFBB5C;
    color: #FFBB5C;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    height: 1.8em;

}
button:hover{
    background-color: #f5f5f5;
    color: #9f0034;
    border: 1px solid #9f0034;

    text-shadow: none;

}
#numCards
{
    width: 2.5em;
    padding: 0.2em;
    padding-bottom: 0;
    margin: 0.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

#deal
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    width: 4em;

}

input
{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #FFBB5C;
     color: #272D42;
     background-color: #f5f5f5;
     height: 1.8em;
     padding-left: 10px;
     color: #9f0034;
     
}
#join-button2{
    padding: 0.25em 1em;
    width: 8em;
    margin-top: 38%;
}

#roomNumber
{
    /* margin: 0.5em; */
    padding: 0.25em 1em;
    /* margin-left: 36%; */
    width: 8em;
    /* margin-top: 25%; */
    text-align:center
    
}

input:focus {
    outline: none;
}


#orderMyHand
{
    position:absolute;
    display: block;
    bottom: 0;
    left: 0;
}

.deck{
    /* background-color: #009F6B; */
    /* background-color: #321E1E; */
    background-color: #116E41;
}  
