@font-face {
    font-family: ChampagneAndLimousine;
    src: url(rsc/Champagne\ &\ Limousines.ttf);
}

@font-face {
    font-family: CARDC;
    src: url(rsc/CARDC.ttf);
}

html {
    overflow: hidden;
    user-select: none;

}


.title-container {
    outline-offset: -5px;
    width: 500px;
    height: 500px;
    display: flex;
    position: absolute;
    justify-content: center;
}

.title {
    font-size: 3.5em;
    text-shadow: 0.03em 0.06em 0em #9f0034;

}

.cardBox {
    height: 100%;
    width: var(--card-width);
    position: relative;
}


.color {
    display: inline-flex;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    margin: 1em;
    outline: 0.05em solid #FFBB5C;
    outline-offset: 0.3em;

    transition: all 250ms ease-in-out;
}

.color:hover {
    outline-offset: 0em;
}

.selected{
    outline-offset: 0em;
}


input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    outline-offset: 0em;
}

label {
    /* display: inline-block; */
    display: flex;
    width: 1.8em;
    height: 1.8em;
    margin: 1em;
    outline: 0.05em solid #FFBB5C;
    outline-offset: 0.3em;
    border-radius: 50%;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}



label:hover span { 
    outline-offset: 0em;
}

span {
    display: inline-flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    }

#background {
    background-color: #2b905f;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;

}

#input-name
{
    width: 10em;
}

#color-container
{
    display: flex;
    justify-content: center;
}

#colorChoose-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #FFBB5C;
    outline: 1px solid #FFBB5C;
    width: 30vw;
    height: 40vh;
    outline-offset: -5px;
    border-radius: 100px;
    z-index: 10001;
    padding: 3em;
    margin: auto;

}

#colorChoose {

    /* background-color: #2b905f; */
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}


#hand {
    /* height: 30vh; */
    position: relative;
    height: 20%;
    width: 100%;
    background-color: #116E41;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border: 1px solid #FFBB5C;
    /* z-index: 2; */


}


.div-lobby {
    background-color: #2b905f;
}

#mat {
    position: relative;
    background-color: #2b905f;
    z-index: 1;
    transition: scale 250ms;
    /* transform-origin: 50% 100%; */
    /* scale: 2; */
    /* overflow: hidden; */
    /* overflow-y: hidden; */


    /* transform: rotate(90deg); */
}

:root {
    /* ratio 63:88 */
    /* --card-width: 80px; */
    /* --card-width: 5rem; */
    /* --card-width: 4rem; */
    --card-width: 6.3vh;
    /* 105 */
    /* --card-height: 112px; */
    /* --card-height: 7rem; */
    /* --card-height: 5.6rem; */
    --card-height: 8.8vh;
    /* 147 */
}

#game
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}

#menu {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #116E41;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    border: 1px solid #FFBB5C;
    /* align-items: center; */
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.4);


}

.colorAndName {
    display: inline;
    width: 100px;
    justify-content: center;
    margin-right: 1em;

}

#color {
    display: inline-block;
    width: 100%;
    height: 1em;
    border-radius: 2em;
}


#name {
    display: inline-block;
    font-size: 2em;
    font-weight: bolder;
    color: #FFBB5C;
    text-shadow: 1px 2px 0px #9f0034;
}

#code {
    color: #FFBB5C;
    letter-spacing: 1em;
    text-indent: 0.5em;
    cursor: pointer;
    transition: all 100ms;
    border: 2px solid #116E41;
    background-color: #2b905f;
    text-align: center;

}

#code:active
{
    scale: 0.9;
}

.disabled {
    pointer-events: none;
}


p {
    font-size: 32px;
    font-weight: bolder;
    color: #FFBB5C;
    text-shadow: 2px 2px 0px #9f0034;

    position: absolute;
}

body {
    font-family: ChampagneAndLimousine;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center

}

main {
    height: 55%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    
}


#back-button {
    width: 5em;
}

.lobby-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.card {
    position: absolute;
    height: var(--card-height);
    width: var(--card-width);
    perspective: 1000px;
    cursor: pointer;
    border-radius: 0px;
    transition: rotate 250ms;
    /* transform-origin: 50% 50%; */


}

.card-inner {
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;

}

.card-inner.flipped-front {
    transform: rotateY(0deg);
}

.card-inner.flipped-back {
    transform: rotateY(-180deg);
}

.card-front,
.card-back {
    border-radius: 0.5vh;
    box-shadow: 0 0 0 0.05rem rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select: none;

}

.card-img {
    height: 100%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card-back {
    transform: rotateY(180deg);
    z-index: 1;

}

.lobby-container {

    overflow-y: hidden;
}


.lobby-join {
    position: relative;
    margin-top: 200vh;
}

.lobby-btn {
    position: absolute;
}

.lobby-container-btn {
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#roomCode {
    font-size: 1.2em;
    padding: 0.25em 1em;
    position: relative;
    margin-bottom: 0.2em;
    margin-top: 23%;
    text-align: center
}

#nameTitle
{
    font-size: 1.2em;
    padding: 0.25em 1em;
    position: relative;
    margin-bottom: 0.2em;
    text-align: center;
    margin-top: 2em;

}

#play
{
    margin-top: 3em;
}

.lobby-btn {
    border: 1px solid #FFBB5C;
    outline: 1px solid #FFBB5C;
    outline-offset: -5px;
    padding: 40px;
    border-radius: 90px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby-join {
    border: 1px solid #FFBB5C;
    outline: 1px solid #FFBB5C;
    outline-offset: -5px;
    padding: 40px;
    border-radius: 90px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.lobby-button {
    width: 8.5em;

}

button {

    position: relative;
    display: inline-block;
    margin: 0.5em;
    padding: 0.25em 1em;
    border: 0;
    width: 5em;
    border-radius: 30px;
    text-align: center;
    font-family: ChampagneAndLimousine;
    background-color: transparent;
    border: 1px solid #FFBB5C;
    color: #FFBB5C;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    height: 1.8em;

}

button:hover {
    background-color: #f5f5f5;
    color: #9f0034;
    border: 1px solid #9f0034;

    text-shadow: none;

}

#numCards {
    width: 2.5em;
    padding: 0.2em;
    padding-bottom: 0;
    margin: 0.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

#deal {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    width: 4em;

}

input {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #FFBB5C;
    color: #272D42;
    background-color: #f5f5f5;
    height: 1.8em;
    padding-left: 10px;
    color: #9f0034;

}

#join-button2 {
    padding: 0.25em 1em;
    width: 8em;
    margin-top: 38%;
}
#play
{
    padding: 0.25em 1em;
    width: 8em;
}

#roomNumber {
    padding: 0.25em 1em;
    width: 8em;
    text-align: center
}

input:focus {
    outline: none;
}


#orderMyHand {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
}

.deck {
    background-color: #116E41;
}