@font-face {
    font-family: ChampagneAndLimousine;
    src: url(rsc/Champagne\ &\ Limousines.ttf);
}

@font-face {
    font-family: CARDC;
    src: url(rsc/CARDC.ttf);
}

  html{
    overflow: hidden;

  }

.cardBox
{
    height: 100%;
    width: var(--card-width);
    /* background-color: red; */
}

  
.color{
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    margin: 15px;
    margin-top: 175px;
}

#colorChoose
{
    width: 40vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* opacity: 50%; */
    justify-content: center;
    display: flex;
}


#hand
{
    height: 30vh;
    background-color: #116E41;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

#mat
{
    height: 70vh;
    background-color: #069969;
    /* background-color: #0e9a61; */
    /* background-image: url(rsc/grid-me.png); */
    /* background-repeat:repeat; */
    /* rotate: 90deg; */
    /* transform: rotateZ('90deg')!important; */
}
:root{
    /* ratio 63:88 */
    --card-width:80px; /* 105 */
    --card-height:112px; /* 147 */
    --card-horizontal-space:100px;
}


#menu
{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1000 !important;
    background-color: #116E41;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
}

.colorAndName
{
    /* position: relative; */
    display: inline;
    width: 100px;
    justify-content: center;
    /* display: inline; */
    /* top: 100; */
    
}

#color{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

#name
{
    display: inline-block;
    font-size: 40px;
    font-weight: bolder;
    color: #FFBB5C;
    text-shadow: 1px 2px 0px #9f0034;
}

.disabled
{
    pointer-events: none;
}


p{
    font-size: 40px;
    font-weight: bolder;
    color: #FFBB5C;
    text-shadow: 1px 2px 0px #9f0034;
    position: absolute;
}
body{
    font-family: ChampagneAndLimousine;
    margin: 0;
    /* transform: translate(0, 100vw) rotate(90deg); */

}

main{
    height: 55%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}


#back-button
{

}


.card{
    position: absolute;
    height:var(--card-height);
    width: var(--card-width);
    perspective: 1000px;
    cursor: pointer;
    border-radius: 0px;
    /* transition: all 0.5s ease-in-out; */
    
}
.card-inner{
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /* transition: all 0.1s linear; */
    /* transition: transform 0.1s linear;    */
    transform-style: preserve-3d;
    /* transform-origin: left 40px; */
    /* border-radius: 6px; */
    
}

.card-inner.flipped-front {
    transform: rotateY(0deg);
}

.card-inner.flipped-back {
    transform: rotateY(-180deg);
}

.card-front, .card-back{
    border-radius: 6px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    background-color: #f5f5f5;

    /* box-shadow: 0 3px 3px rgba(63, 63, 63, 0.15); */

    position: absolute; 
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select: none;

}
.card-img{
    height:100%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.card-back{
    transform: rotateY(180deg);
    z-index: 1;
    /* transform: translateX(50px); */

}

/* .card:hover .card-inner{
    rotate: 1 0 0 10deg;
    /* !important; 
} */

/* .card:active .card-inner{
    pointer-events: none;

} */


#back-button
{
    text-align: center;
    
    overflow: hidden;
    width: 15%;
    height: 6vh;
    margin-top: 2%;
    border: none;
    cursor: pointer;
    text-decoration: none;

    font-weight: bolder;
    text-transform: uppercase;
    font-family: ChampagneAndLimousine;
    font-size: 1em;
}

.lobby-container
{

    overflow-y: hidden;
}

.lobby-btn
{
    display: flex;
    flex-direction: column;
}

.lobby-join, .lobby-btn
{
    margin-top: 50vh;
}

.lobby-container-btn
{
    
    /* overflow-y: hidden; */
    transition: all 1s ease-in-out;
    height: 100vh;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobby-button
{
    text-align: center;
    
    overflow: hidden;
    width: 100%;
    height: 6vh;
    margin-top: 20%;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #f5f5f5;

    font-weight: bolder;
    color: #9f0034;
    text-transform: uppercase;
    font-family: ChampagneAndLimousine;
    font-size: 2em;

}

button
{
    /* text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-family: CARDC;
    font-weight:lighter;
    font-size: 1.5em;
    border-radius: 5px;
    color: #272D42;
    background-color: #f5f5f5;
    border: 2px solid #072c1a;
    margin: 3px;
    padding: 10px;
    letter-spacing: .1rem; */

    /* text-align: center; */
    /* cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5em;
    border-radius: 5px;

    
    color: #FFBB5C;
    text-shadow: 1px 2px 0px #9f0034;
    
    border: 2px solid #072c1a;
    margin: 3px;
    padding: 10px;
    letter-spacing: .1rem; */
    
    position: relative;
    display: inline-block;
    margin: 0.5em;
    padding: 0.25em 1em;
    border: 0;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    font-family: ChampagneAndLimousine;
    background-color: transparent;
    border: 1px solid #FFBB5C;
    color: #FFBB5C;
    /* text-shadow: 1px 1px 0px #9f0034; */
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1em;
    transition: all 0.3s ease-in-out;

}
button:hover{
    background-color: #f5f5f5;
    color: #9f0034;
    text-shadow: none;

}

#numCards
{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #FFBB5C;
     color: #272D42;
     background-color: #f5f5f5;
     width: 50px;
     height: 25px;
     padding-left: 10px;
}

#numCards:focus {
    outline: none;
}


#orderMyHand
{
    position:absolute;
    display: block;
    bottom: 0;
    left: 0;
}

.deck{
    /* background-color: #009F6B; */
    /* background-color: #321E1E; */
    background-color: #116E41;
}  


button
{

}
/* .move
{
    animation: cardMove 5s;
}

@keyframes cardMove {
    0%{
        left: 8px;
    }

    50% {
        left: 50px;
    }
    
    100% {
        left: 8px;
    }
    
  } */

  /* .bot:hover ~ .card-inner{
      transform-origin: 50% 25%!important;
      transform: rotateX(10deg)!important;
      transform: scale(2)!important;

  }    


  .top:hover ~ .card-inner {
    transform-origin: 50% 75%!important;
    transform: rotateX(-10deg)!important;
     rotateZ(-2deg);
     transform: scale(2)!important;

  } */

  /* Define the animation */

